h2 {
  font-size: 20px;
  color: rgb(14, 13, 13);
  line-height: 24px;
  margin-left: 5px;
}
h5 {
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 24px;
  margin-left: 5px;
  margin-top: 30px;
}

h3 {
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 24px;
  margin-left: 5px;
  margin-top: 30px;
}

p {
  font-family: "Times New Roman", Times, serif;
  margin-left: 5px;
  width: 500px;
}

a {
  font-family: "Times New Roman", Times, serif;
  margin-left: 5px;
  color: rgb(0, 121, 241);
  font-style: normal;
  display: flex;
  margin-top: 5px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin: 7px;
}
footer {
  background-color: rgb(255, 255, 255);
  height: 20px;
}
main {
  margin-top: 50px;
  margin-left: 5px;
}

body {
  background-color: rgb(196, 202, 220);
  margin: 0;
  height: 170vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.site-header {
  height: 50px;
  position: fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 100vw;
}

#submitButton {
  width: fit-content;
  animation-timing-function: ease-in-out;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#submitButton:hover {
  animation-name: shake;
  animation-duration: 1s;
}
/* #thankYouMessage {
  
  background-color: rgb(255, 255, 255);
  width: 50%;
} */

@keyframes shake {
  20% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
}

/* div.contact {
  background-color: rgb(230, 232, 232);
  height: 20%;
  display: flex;
  flex-direction: column;
}

a1 {
  margin-top: 200px;
  color: rgb(0, 0, 0);
}
.space {
  background-color: aliceblue;
  height: 20px;
  width: 200px;
} */
