h2 {
  font-size: 20px;
  color: rgb(89, 89, 89);
  line-height: 24px;
  margin-left: 5px;
}

p {
  font-family: "Times New Roman", Times, serif;
  margin-left: 5px;
}

a {
  font-family: "Times New Roman", Times, serif;
  margin-left: 5px;
  color: rgb(0, 3, 6);
  font-style: normal;
  display: flex;
  margin-top: 5px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin: 7px;
}
footer {
  background-color: rgb(255, 255, 255);
  height: 20px;
}
main {
  margin-top: 50px;
}

body {
  background-color: rgb(196, 202, 220);
  margin: 0;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.site-header {
  height: 50px;
  position: fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 100vw;
}

div.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  display: flex;
  justify-content: space-evenly;
}
.item {
  width: 30vw;
  height: 30vw;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  margin-bottom: 50px;
  /* display: flex;
  text-align: center; */
}

.family {
  margin-top: 0px;
  height: 70vw;
  width: 100vw;
}

@media screen and (max-width: 650px) {
  div.container {
    flex-direction: column;
    /* margin-left: 35%; */
    margin: 25%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .item {
    width: 50vw;
    height: 50vw;
  }
}
